<header class="site-header" role="banner">
  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
  <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
    <img class="logo" src="{{ "/assets/images/logo-beta.png" | relative_url }}">
    <img class="mobile-logo" src="{{ "/assets/images/mobile-logo-beta.svg" | relative_url }}">
  </a>

  {%- if page_paths -%}
  <div class="site-nav">
    <a class="page-link" href="/faq">FAQ</a>
    <a class="page-link" href="https://go.gov.sg/sgid-support">FEEDBACK</a>
    <a class="page-link" href="/api">API</a>
  </div>
  {%- endif -%}
</header>
