@charset "UTF-8";

body {
  font-family: "Rubik", sans-serif;
  color: #27313d;
  margin: 0;
  overflow-x: hidden;
  min-width: 100vw;
  max-width: 100vw;
}

b {
  font-weight: 500;
}

a {
  text-decoration: none;
}

.home {
  min-width: 100vw;
  max-width: 100vw;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
}

.col {
  width: 50%;
  margin: 0 auto;
}

.button {
  height: 50px;
  width: 290px;
  max-width: 80vw;
  border-radius: 6px;
  margin-top: 30px;
  background-color: #0065c7;
  color: #f4f4f4;
  font-size: 16px;
  letter-spacing: 1.45px;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
}

.icon {
  height: 55px;
  padding-bottom: 30px;
}

.logo {
  height: 40px;
  margin-right: 40px;
}

.mobile-logo {
  display: none;
  height: 30px;
  margin-right: 10vw;
}

.site-nav {
  border: none;
  display: flex;
  flex: 1;
  max-width: 300px;
  justify-content: space-between;
}

.site-header {
  padding: 15px 80px;
  border-top: 0px;
  border-bottom: 1px solid #e8e8e8;
  min-height: 56px;
  position: relative;
  display: flex;
  align-items: center;
  max-width: 100vw;
}

.site-title {
  display: flex;
}

.site-nav {
}

.page-link {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1.4px;
  text-align: center;
  color: #454f5b;
  text-decoration: none;
}

.page-link:hover {
  text-decoration: underline;
}

.page-content {
  padding: 0;
}

.intro-container {
  padding: 50px 0;
  text-align: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-container-title {
  padding: 0 50px;
  font-size: 60px;
  font-weight: 500;
  text-align: center;
  color: #0065c7;
}

.intro-container-subtitle {
  padding: 40px 50px 0;
  font-size: 21px;
  line-height: 1.43;
  text-align: center;
  color: #27313d;
}

.video-player-controls {
  height: 20px;
  border-radius: 5px 5px 0px 0px;
  text-align: left;
  background: #f7fbfe;
  margin: 0;
}

.video-player-control-btn-close {
  width: 7px;
  height: 7px;
  border: 1px solid #dde2eb;
  border-radius: 5px;
  display: inline-block;
  margin-left: 10px;
  background-color: #db624f;
}

.video-player-control-btn-minimize {
  width: 7px;
  height: 7px;
  border: 1px solid #dde2eb;
  border-radius: 5px;
  display: inline-block;
  margin-left: 5px;
  background-color: #f2d283;
}

.video-player-control-btn-expand {
  width: 7px;
  height: 7px;
  border: 1px solid #dde2eb;
  border-radius: 5px;
  display: inline-block;
  margin-left: 5px;
  background-color: #3d9e78;
}

.video-player {
  width: 70vw;
  max-width: 1200px;
  height: calc(70vw / 853 * 480 + 20px);
  max-height: calc(1200px / 853 * 480 + 20px);
  margin: auto;
  margin-top: 50px;
  border-radius: 5px;
  box-shadow: 0 4px 18px 0 rgba(171, 185, 201, 0.5);
  overflow: hidden;
  border: 1px solid #dde2eb;
}

.video-player iframe {
  width: 70vw;
  max-width: 1200px;
  height: calc(70vw / 853 * 480);
  max-height: calc(1200px / 853 * 480);
}

.hero-container {
  text-align: center;
}

.hero-item {
  padding-top: 120px;
  padding-bottom: 120px;
  height: 280px;
  min-width: 50%;
}

.hero-business {
  background: #f7fbfe;
  text-align: center;
  min-width: 50%;
  margin-left: 0px;
}

.hero-citizen {
  background: #f0f7fc;
  min-width: 50%;
  margin-left: 0px;
}

.download-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  max-width: 400px;
  margin: auto;
}

.download-btn {
  height: 50px;
  margin-bottom: 20px;
}

.hero-item-subtitle {
  font-size: 14px;
  font-weight: 500;
  line-height: 2.14;
  letter-spacing: 1.4px;
  color: #454f5b;
  padding-bottom: 20px;
}

.hero-item-title {
  display: inline-block;
  height: 140px;
  max-width: 80%;
  width: 370px;
  padding-bottom: 13px;
  color: #253441;
  font-size: 35px;
  font-weight: 500;
  line-height: 1.23;
  text-align: center;
}

.hero-item-title {
  vertical-align: middle;
}

.hero-item-text {
  font-size: 18px;
  line-height: 1.56;
  color: #253441;
}

#get-started-btn {
  display: inline-block;
  margin-top: 0px !important;
}

.trusted-by-container {
  padding: 80px 3vw 0px 3vw;
  text-align: center;
}

.trusted-by-title {
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 2.14;
  letter-spacing: 1.4px;
  color: #454f5b;
  padding-bottom: 8px;
}

.trusted-by-item {
  padding: 50px;
}

.how-it-works-left {
  padding: 200px 3vw;
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin: auto;
}

.how-it-works-subtitle {
  font-size: 14px;
  font-weight: 500;
  line-height: 2.14;
  letter-spacing: 1.4px;
  color: #454f5b;
  padding-bottom: 35px;
}

.how-it-works-title {
  font-size: 35px;
  font-weight: 500;
  padding-bottom: 13px;
  font-family: "Rubik", sans-serif;
}

.how-it-works-steps span {
  vertical-align: middle;
}

.how-it-works-steps-icon {
  border: 1px solid #3d9e78;
  border-radius: 20px;
  display: inline-block;
  height: 24px;
  width: 24px;
  background: #3d9e78;
  text-align: center;
  vertical-align: middle;
  color: white;
  margin: 10px 10px 10px 0px;
  font-size: 10px;
  line-height: 24px;
}

.how-it-works-steps-text {
  width: 300px;
  margin: 10px 10px 10px 0px;
  line-height: 1.5;
  display: inline-block;
  font-weight: 200;
}

.how-it-works-background-container {
  min-width: 50%;
  background-image: url(/assets/images/group.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  margin: 0;
  background-position: left center;
}

.how-it-works-background-container .background-image {
  max-width: 100%;
}

.benefits-citizens-container {
  padding: 100px 3vw 40px;
  text-align: center;
  color: white;
  background: #002345;
}
.benefits-business-container .row,
.benefits-citizens-container .row {
  justify-content: space-around;
  max-width: 1600px;
  margin: auto;
}

.benefits-citizens-container .col,
.benefits-business-container .col {
  display: flex;
  justify-content: center;
}

.benefits-citizens-subtitle {
  font-size: 14px;
  font-weight: 500;
  line-height: 2.14;
  letter-spacing: 1.4px;
  padding-bottom: 8px;
}

.benefits-citizens-title {
  font-size: 35px;
  font-weight: 500;
  line-height: 1.23;
  padding-bottom: 50px;
}

.benefits-business-item,
.benefits-citizens-item {
  text-align: left;
  flex-basis: 100%;
  max-width: 370px;
}

.benefits-citizens-item-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.23;
  padding-bottom: 15px;
}

.benefits-citizens-item-text {
  line-height: 1.5;
  padding-bottom: 50px;
  width: 370px;
}

.benefits-citizens-tagline {
  width: 500px;
  text-align: left;
  font-size: 45px;
  padding: 60px 0px 30px 0px;
  line-height: 50px;
}

.benefits-citizens-call-to-action {
  text-align: left;
  padding-bottom: 10vw;
  width: 100%;
}

.benefits-citizens-action-container {
  padding: 40px 0px 0px 3vw;
  text-align: center;
  color: white;
  background-color: #002345;
  background-image: url(/assets/images/take-control.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
.benefits-citizens-action-container .col {
  padding-right: 500px;
  width: auto;
}

.benefits-business-action-container .col {
  padding-left: calc(50vw - 200px);
  width: auto;
}

.benefits-business-container {
  padding: 40px 3vw;
  text-align: center;
}

.benefits-business-container .row:first-child {
  display: block;
}

.benefits-business-subtitle {
  font-size: 14px;
  font-weight: 500;
  line-height: 2.14;
  letter-spacing: 1.4px;
  padding-bottom: 8px;
}

.benefits-business-title {
  font-size: 35px;
  font-weight: 500;
  line-height: 1.23;
  padding-bottom: 50px;
}

.benefits-business-item {
  text-align: left;
  flex-basis: 100%;
  max-width: 370px;
}

.benefits-business-item-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.23;
  padding-bottom: 15px;
}

.benefits-business-item-text {
  line-height: 1.5;
  padding-bottom: 50px;
  width: 370px;
}

.benefits-business-tagline {
  width: 500px;
  text-align: left;
  font-size: 45px;
  padding: 60px 0px 30px 0px;
  line-height: 50px;
  color: #27313d;
}

.benefits-business-call-to-action {
  text-align: left;
  padding-bottom: 10vw;
}

.benefits-business-action-container {
  padding: 40px 3vw 0px 3vw;
  margin-top: 50px;
  text-align: center;
  color: #0065c7;
  background-image: url(/assets/images/launch.png);
  background-position: calc(50vw - 580px) bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.site-footer {
  padding: 50px 80px;
  color: white;
  background-color: #002345;
}

.site-footer a:visited {
  color: white;
}

.footer-heading {
  font-size: 22px;
  color: #ffffff;
  display: inline-block;
}

.footer-heading-tagline {
  font-size: 18px;
  font-weight: 200;
}

.footer-nav {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid grey;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.footer-nav-links {
  display: inline-block;
}

.footer-nav-link {
  color: #ffffff;
  display: inline-block;
}

.footer-nav-description {
  display: inline-block;
}

.post-header {
  padding: 76px 81px;
  background-color: #0065c7;
  color: #ffffff;
}

.post-content {
  padding: 50px 298px;
}

.faq-selector-active {
  font-size: 45px;
  font-weight: 500;
  margin-right: 50px;
  border-bottom: 4px solid black;
}

.faq-selector-inactive {
  font-size: 45px;
  font-weight: 500;
  color: #213d7b;
  opacity: 0.5;
  padding-right: 50px;
  cursor: pointer;
}

.faq-body-container {
  padding-top: 30px;
}

.faq-question {
  padding-top: 30px;
  padding-bottom: 15px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.43;
}

#faq-body-business {
  display: none;
}

.last-updated-text {
  margin-left: 10px;
}

@media screen and (max-width: 1000px) {
  .video-player {
    width: 80vw;
    height: calc(80vw / 853 * 480 + 20px);
    margin-top: 30px;
  }

  .video-player iframe {
    width: 80vw;
    height: calc(80vw / 853 * 480);
  }
  .hero-item-title {
    font-size: 25px;
  }

  .how-it-works-container {
    background-image: url(/assets/images/group.png);
    background-size: cover;
    background-position: center;
  }

  .how-it-works-container .row {
    background: rgba(255, 255, 255, 0.9);
  }

  .how-it-works-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 100px 50px;
  }

  .how-it-works-background-container {
    display: none;
  }

  .how-it-works-subtitle {
    text-align: center;
  }

  .how-it-works-title {
    text-align: center;
  }
  .how-it-works-steps {
    justify-content: center;
    display: flex;
  }
  .how-it-works-steps-text {
    width: 250px;
  }
  .benefits-business-container {
    padding: 30px;
  }
  .benefits-business-container .row {
    flex-direction: column;
  }
  .benefits-business-item {
    padding-right: 0px;
  }
  .benefits-business-item-text {
    width: 95%;
  }
  .benefits-business-action-container {
    padding: 30px;
    padding-bottom: 3vw;
    margin-top: 0px;
  }
  .benefits-business-call-to-action {
    display: inline-block;
  }
  .benefits-business-tagline {
    padding-top: 0px;
    width: auto;
    text-align: center;
  }

  .benefits-citizens-container {
    padding: 100px 50px 40px;
  }

  .benefits-citizens-container .row {
    flex-direction: column;
  }
  .benefits-citizens-item {
    padding-right: 0px;
  }
  .benefits-citizens-item-text {
    width: 95%;
  }

  .benefits-business-action-container,
  .benefits-citizens-action-container {
    padding: 30px;
    padding-bottom: 120px;
    background-size: 80vw;
    background-position: right bottom;
    max-width: 100vw;
    overflow: none;
  }

  .benefits-business-call-to-action {
    display: inline-block;
  }

  .benefits-business-action-container .col,
  .benefits-citizens-action-container .col {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 28vw;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .benefits-citizens-tagline {
    padding-top: 0px;
    width: auto;
    text-align: center;
  }
  .post-header {
    padding: 37px 30px;
  }
  .post-content {
    padding: 50px 30px 37px 30px;
  }
  .faq-selector-container {
    display: flex;
  }
  .faq-selector-active {
    font-size: 30px;
  }
  .faq-selector-inactive {
    font-size: 30px;
  }
  .site-footer {
    padding: 30px;
    background-position: 30px bottom;
  }
  .footer-heading-tagline {
    display: block;
    padding-left: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .footer-nav-link {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .footer-nav-description {
    padding-top: 5px;
  }
  .last-updated-text {
    padding-top: 13px;
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .video-player {
    width: 90vw;
    height: calc(90vw / 853 * 480 + 20px);
    margin-top: 30px;
  }

  .video-player iframe {
    width: 90vw;
    height: calc(90vw / 853 * 480);
  }

  .intro-container {
    padding: 30px 0;
  }

  .intro-container-title {
    padding: 0 25px;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    color: #0065c7;
  }

  .logo {
    display: none;
  }
  .mobile-logo {
    display: inline-block;
  }
  .site-header {
    padding: 10px 30px;
    min-height: auto;
  }
  .site-nav {
    display: flex;
  }
  .page-link {
    display: inline-block;
    font-size: 12px;
    margin-left: 8px;
    line-height: 40px !important;
  }
  .col {
    min-width: 100%;
    flex-grow: 1;
  }

  .hero-container .row {
    flex-direction: column;
  }

  .hero-item {
    height: auto;
    padding: 37px 15px;
  }
}
