---
---

@charset "UTF-8";

body {
	font-family: 'Rubik', sans-serif;
	color: #27313d;
}

b {
	font-weight: 500;
}

.wrapper {
  max-width: 100%;
  padding: 0px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: stretch;
}

.col {
	max-width: 50%;
}

.button {
	height: 50px;
	width: 290px;
	border-radius: 6px;
	margin-top: 30px;
  background-color: #0065c7;
  color: #f4f4f4;
  font-size: 16px;
  letter-spacing: 1.45px;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
}

.icon {
	height: 55px;
	padding-bottom: 30px;
}

.logo {
	height: 40px;
}

.site-header {
	padding: 15px 80px;
	border-top: 0px;
}

.site-nav {
	float: left;
	padding-left: 30px;
}

.page-link {
	text-transform: uppercase;
	padding: 50px 20px;
  font-size: 14px;
  letter-spacing: 1.4px;
  text-align: center;
  color: #454f5b;
}

.page-content {
	padding: 0
}

.intro-container {
	padding: 50px 180px;
	text-align: center;
}

.intro-container-title {
  font-size: 60px;
  font-weight: 500;
  text-align: center;
  color: #0065c7;
}

.intro-container-subtitle {
  font-size: 21px;
  line-height: 1.43;  text-align: center;
  color: #27313d;
}

.video-player-controls {
	height: 20px;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 1px solid #dde2eb;
	text-align: left;
	background: #f7fbfe;
	border: 1px solid #dde2eb;
}

.video-player-control-btn-close {
	width: 7px;
  height: 7px;
  border: 1px solid #dde2eb;
  border-radius: 5px;
  display: inline-block;
  margin-left: 10px;
  background-color: #db624f;
}

.video-player-control-btn-minimize {
	width: 7px;
  height: 7px;
  border: 1px solid #dde2eb;
  border-radius: 5px;
  display: inline-block;
  margin-left: 5px;
  background-color: #f2d283;
}

.video-player-control-btn-expand {
	width: 7px;
  height: 7px;
  
  border-radius: 5px;
  display: inline-block;
  margin-left: 5px;
  background-color: #3d9e78;
}

.video-player {
	width: 853px;
	margin: auto;
	margin-top: 50px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 4px 18px 0 rgba(171, 185, 201, 0.5);
}

iframe { 
	display: block;
}

.hero-container {
	text-align: center;
}

.hero-item {
	padding: 80px 180px;
	height: 280px;
}

.hero-business {
	background: #f7fbfe;
	text-align: center;
}

.hero-citizen {
	background: #f0f7fc;
}

.download-button-img {
	height: 50px;
}

.hero-item-subtitle {
	font-size: 14px;
	font-weight: 500;
	line-height: 2.14;
	letter-spacing: 1.4px;
	color: #454f5b;	
	padding-bottom: 20px;
}

.hero-item-title {
	font-size: 35px;
	font-weight: 500;
	line-height: 1.23;
	color: #253441;
	padding-bottom: 13px;
	height: 140px;
}

.hero-item-title {
	display: table-cell; 
	vertical-align: middle; 
	text-align: center; 
}

.hero-item-text {
	font-size: 18px;
	line-height: 1.56;
	color: #253441;
}

#get-started-btn {
	display: inline-block;
	margin-top: 0px!important;
}

.trusted-by-container {
	padding: 80px 150px 0px 150px;
	text-align: center;
}

.trusted-by-title {
	width: 100%;
	text-align: center;
	font-size: 14px;
	font-weight: 500;
	line-height: 2.14;
	letter-spacing: 1.4px;
	color: #454f5b;	
	padding-bottom: 8px;
}

.trusted-by-item {
	padding: 50px;
}

.how-it-works-left {
	padding: 80px 100px 40px 150px;
}

.how-it-works-subtitle {
	font-size: 14px;
	font-weight: 500;
	line-height: 2.14;
	letter-spacing: 1.4px;
	color: #454f5b;	
	padding-bottom: 35px;
}

.how-it-works-title {
	font-size: 35px;
	font-weight: 500;
	line-height: 1.23;
	color: #0065c7;
	padding-bottom: 13px;
	font-family: 'Rubik', sans-serif;
}

.how-it-works-steps span {
	vertical-align: middle;
}

.how-it-works-steps-icon {
	border: 1px solid #3D9E78;
	border-radius: 20px;
	display: inline-block;
	height: 24px;
	width: 24px;
	background: #3D9E78;
	text-align: center;
	vertical-align: middle;
	color: white;
	margin: 10px 10px 10px 0px;
	font-size: 10px;
	line-height: 24px;
}

.how-it-works-steps-text {
	width: 300px;
	margin: 10px 10px 10px 0px;
	display: inline-block;
	font-weight: 200;
}

.how-it-works-background-container {
	min-width: 50%;
}

.background-image {
	max-width: 600px;
}

.benefits-citizens-container {
	padding: 40px 150px;
	text-align: center;
	color: white;
	background: #002345;
}

.benefits-citizens-container .row:first-child {
	display: block;
}

.benefits-citizens-subtitle {
	font-size: 14px;
	font-weight: 500;
	line-height: 2.14;
	letter-spacing: 1.4px;
	padding-bottom: 8px;
}

.benefits-citizens-title {
	font-size: 35px;
	font-weight: 500;
	line-height: 1.23;
	padding-bottom: 50px;
}

.benefits-citizens-item {
	text-align: left;
	flex-basis: 100%;
	padding-right: 300px;
}

.benefits-citizens-item-title {
	font-size: 28px;
	font-weight: 500;
	line-height: 1.23;
	padding-bottom: 15px;
}

.benefits-citizens-item-text {
	padding-bottom: 50px;
}

.benefits-citizens-tagline {
	width: 500px;
	text-align: left;
	font-size: 45px;
	padding: 60px 0px 30px 0px;
	line-height: 50px;
}

.benefits-citizens-call-to-action {
	text-align: left;
	padding-bottom: 100px;
}

.benefits-citizens-action-container {
	padding: 40px 0px 0px 150px;
	text-align: center;
	color: white;
	background-color: #002345; 
	background-image: url("{{ "/assets/images/take-control.png" | relative_url }}");
	background-position: right bottom; 
	background-repeat: no-repeat; 
	background-size: contain;
}

.benefits-business-container {
	padding: 40px 150px;
	text-align: center;
}

.benefits-business-container .row:first-child {
	display: block;
}

.benefits-business-subtitle {
	font-size: 14px;
	font-weight: 500;
	line-height: 2.14;
	letter-spacing: 1.4px;
	padding-bottom: 8px;
}

.benefits-business-title {
	font-size: 35px;
	font-weight: 500;
	line-height: 1.23;
	padding-bottom: 50px;
}

.benefits-business-item {
	text-align: left;
	flex-basis: 100%;
	padding-right: 300px;
}

.benefits-business-item-title {
	font-size: 28px;
	font-weight: 500;
	line-height: 1.23;
	padding-bottom: 15px;
}

.benefits-business-item-text {
	padding-bottom: 50px;
}

.benefits-business-tagline {
	width: 500px;
	text-align: left;
	font-size: 45px;
	padding: 60px 0px 30px 0px;
	line-height: 50px;
	color: #27313d;
}

.benefits-business-call-to-action {
	text-align: left;
	padding-bottom: 100px;
}

.benefits-business-action-container {
	padding: 40px 150px 0px 150px;
	margin-top: 50px;
	text-align: center;
	color: #0065c7;
	background-image: url("{{ "/assets/images/launch.png" | relative_url }}");
	background-position: 80px bottom; 
	background-repeat: no-repeat; 
	background-size: contain;
}

.site-footer {
	padding: 50px 80px;	
	color: white;
  background-color: #27313d;
}

.site-footer a:visited {
  color: white;
}

.footer-heading {
	font-size: 22px;
	color: #ffffff;
}

.footer-heading-tagline {
	padding-left: 40px;
	font-size: 18px;
	font-weight: 200; 
}

.footer-nav {
	margin-top: 15px;
	padding-top: 15px;
	border-top: 1px solid grey;
	font-size: 14px;
}

.footer-nav-links {
	display: inline-block;
}

.footer-nav-link {
	padding-right: 30px;
	color: #ffffff;
}

.footer-nav-description {
	display: inline-block;
	float: right;
}


.post-header {
	padding: 76px 81px;
	background-color: #0065c7;
	color: #ffffff;
}

.post-content {
	padding: 50px 298px;
}

.faq-selector-active {
	font-size: 45px;
  font-weight: 500;
  margin-right: 50px;
  border-bottom: 4px solid black;
}

.faq-selector-inactive {
	font-size: 45px;
  font-weight: 500;
  color: #213d7b;
  opacity: 0.5;
  padding-right: 50px;
  cursor: pointer;
}

.faq-body-container {
	padding-top: 30px;
}

.faq-question {
	padding-top: 30px;
	padding-bottom: 15px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.43;
  color: #253441;
}

@media screen and (max-width: 600px) {
	.site-header {
		padding: 15px 30px;
	}
	.col {
		min-width: 100%;
		flex-grow: 1;
	}
  .video-player {
    display: none;
  }
  .intro-container{
  	padding: 80px 30px;
  }
  .hero-container .row{
  	flex-direction: column;
  }
  .hero-item {
  	padding: 30px;
  	height: 250px;
  }
  .how-it-works-left{
  	padding: 30px;
  }

  .how-it-works-container .background-image {
  	display: none;
  }

  .how-it-works-steps-text {
  	width: 250px;
  }
  .benefits-business-container {
  	padding: 30px;
  }
  .benefits-business-container .row{
  	flex-direction: column;
  }
  .benefits-business-item {
  	padding-right: 0px;
  }
  .benefits-business-action-container{
  	padding: 30px;
  }
  .benefits-business-tagline {
  	width: auto;
  }
  .benefits-citizens-container {
  	padding: 30px;
  }
  .benefits-citizens-container .row{
  	flex-direction: column;
  }
  .benefits-citizens-item {
  	padding-right: 0px;
  }
  .benefits-citizens-action-container{
  	padding: 30px;
  }
  .benefits-citizens-tagline {
  	width: auto;
  }
	.site-footer {
		padding: 30px;
	}
}