---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

<div class="hero-container">
	<div class="hero-item hero-left">
		<div class="hero-item-subtitle">BUSINESS</div>
		<div class="hero-item-title">Integrate with MyInfo in minutes.</div>
		<div  class="hero-item-text">Make it safe and easy for your users to sign in to your app or website with verified MyInfo details.</div>
		<div class="button">Get Started</div>
	</div>
	<div class="hero-item hero-right">
		<div class="hero-item-subtitle">CITIZEN</div>
		<div  class="hero-item-title">Sign in with privacy to apps and websites.</div>
		<div class="hero-item-text">Stay in control of your personal information. Digic does not store your personal data or track your activities.</div>
		<div>
			<img>
			<img>
		</div>
	</div>
</div>

<div class="trusted-by-container">
	<div class="row">
  	<div class="trusted-by-title">
  		Trusted By
  	</div>
  </div>
  <div class="row">
		<div class="trusted-by-item">
			1
		</div>
		<div class="trusted-by-item">
			2
		</div>
		<div class="trusted-by-item">
			3
		</div>
	</div>
</div>

<div class="how-it-works-container">
	<div class="how-it-works-left">
		<div class="how-it-works-subtitle">HOW IT WORKS</div>
		<div class="how-it-works-title">Sign in with sgID</div>
	  <div class="how-it-works-steps">
	  	<span class="how-it-works-steps-icon">1</span>
	  	<span class="how-it-works-steps-text">When creating new accounts in apps or websites, click <b>Sign up with sgID</b></span>
		</div>
	  <div class="how-it-works-steps">
	  	<span class="how-it-works-steps-icon">2</span>
	  	<span class="how-it-works-steps-text">Choose only the details you wish to share with third party app <b>(sgID does not store your data)</b></span>
		</div>
	  <div class="how-it-works-steps">
	  	<span class="how-it-works-steps-icon">3</span>
	  	<span class="how-it-works-steps-text">You are now signed up with your verified identity safely</span>
		</div>
		<div class="button">
			WATCH VIDEO
		</div>
	</div>
</div>