---
layout: default
---

<div class="home">
    <div class="intro-container">
        <div class="intro-container-title">Designed for privacy</div>
        <div class="intro-container-subtitle">Your digital identity, made easier and safer.</div>
        <div class="video-player">
            <div class="video-player-controls">
                <span class="video-player-control-btn-close"></span>
                <span class="video-player-control-btn-minimize"></span>
                <span class="video-player-control-btn-expand"></span>
            </div>
            <iframe src="https://player.vimeo.com/video/360209410?&sidedock=0" width="853" height="480" frameborder="0"
                allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
    </div>
    <div class="hero-container">
        <div class="row">
            <div class="half-col">
                <div class="hero-item hero-business">
                    <div class="hero-item-subtitle">BUSINESS</div>
                    <div class="hero-item-title">
                        Integrate with sgID in minutes
                    </div>
                    <div>
                        <a href="https://form.gov.sg/5d7a0a6e28467500121f1f5e">
                            <div class="button" id="get-started-btn">Request for access</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="half-col">
                <div class="hero-item hero-citizen">
                    <div class="hero-item-subtitle">CITIZEN</div>
                    <div class="hero-item-title">
                        Sign in privately to apps and websites
                    </div>
                    <div class="download-container">
                        <!-- <a href="/download/android"><img class="download-btn" src="/assets/images/googleplay.svg"></a>
                        <a href="/download/ios"><img class="download-btn" src="/assets/images/appstore.svg"></a> -->
                        <div class="beta-only">Currently in beta</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="how-it-works-container">
        <div class="row">
            <div class="half-col">
                <div class="how-it-works-left">
                    <div class="how-it-works-subtitle">HOW IT WORKS</div>
                    <div class="how-it-works-title">Sign in with sgID</div>
                    <div class="how-it-works-steps">
                        <span class="how-it-works-steps-icon">1</span>
                        <span class="how-it-works-steps-text">When creating new accounts in apps or websites, click
                            <b>Sign in with sgID</b></span>
                    </div>
                    <div class="how-it-works-steps">
                        <span class="how-it-works-steps-icon">2</span>
                        <span class="how-it-works-steps-text">Choose only the details you wish to share with third
                            party
                            app <b>(sgID does not store your data)</b></span>
                    </div>
                    <div class="how-it-works-steps">
                        <span class="how-it-works-steps-icon">3</span>
                        <span class="how-it-works-steps-text">You are now signed up with your verified identity
                            safely</span>
                    </div>
                </div>
            </div>
            <div class="col how-it-works-background-container">
            </div>
        </div>
    </div>
    <div class="benefits-citizens-container">
        <div>
            <div class="benefits-citizens-subtitle">BENEFITS</div><br>
            <div class="benefits-citizens-title">Citizens</div>
        </div>
        <div class="row">
            <div class="col">
                <div class="benefits-citizens-item">
                    <img class="icon" src="/assets/images/zero-knowledge.png">
                    <div class="benefits-citizens-item-title">No storing your data.</div>
                    <div class="benefits-citizens-item-text">
                        sgID employs a zero knowledge protocol, and does not store any of your data that passes
                        through
                        our servers. Even in the case of a data breach, your data will never be compromised. It
                        remains
                        safely in your phone, in your control.
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="benefits-citizens-item">
                    <img class="icon" src="/assets/images/no-tracking.png">
                    <div class="benefits-citizens-item-title">Harder to track.</div>
                    <div class="benefits-citizens-item-text">
                        Your NRIC number is used all the time to verify yourself, but providing it to so many third
                        parties makes you vulnerable. sgID creates a unique identifier for every business you
                        authenticate with. This makes it harder to track you activity across businesses.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="benefits-citizens-item">
                    <img class="icon" src="/assets/images/choose.png">
                    <div class="benefits-citizens-item-title">Choose what you share.</div>
                    <div class="benefits-citizens-item-text">
                        Instead of sharing your identity wholesale with your physical NRIC, sgID enables you to
                        choose
                        only information you wish to share with businesses. You remain in control of your data, as
                        any
                        unnecessary information can be deselected.
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="benefits-citizens-item">
                    <img class="icon" src="/assets/images/history.png">
                    <div class="benefits-citizens-item-title">Keep track of your history.</div>
                    <div class="benefits-citizens-item-text">
                        The average person could share their NRIC at least once a month - visitor
                        registrations, lucky draw sign ups, identity verification, etc. Stay in
                        control of your data, and keep track of when and with whom you shared your
                        information.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="benefits-citizens-action-container">
        <div class="row">
            <div class="half-col">
                <div class="benefits-citizens-tagline">Stay in control of your personal information.</div>
                <div class="benefits-citizens-call-to-action">
                    <div class="download-container">
                        <!-- <a href="/download/android"><img class="download-btn" src="/assets/images/googleplay.svg"></a>
                        <a href="/download/ios"><img class="download-btn" src="/assets/images/appstore.svg"></a> -->
                        <div class="beta-only">Currently in beta</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="benefits-business-container">
        <div class="row">
            <div class="benefits-business-subtitle">BENEFITS</div><br>
            <div class="benefits-business-title">Businesses</div>
        </div>
        <div class="row">
            <div class="col">
                <div class="benefits-business-item">
                    <img class="icon" src="/assets/images/govt.png">
                    <div class="benefits-business-item-title">Government-verified info.</div>
                    <div class="benefits-business-item-text">
                        With users’ permissions, personal information is retrieved from MyInfo
                        and authenticated with SingPass, so businesses can be assured the data
                        they receive is authentic and up to date.
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="benefits-business-item">
                    <img class="icon" src="/assets/images/privacy.png">
                    <div class="benefits-business-item-title">Privacy by design.</div>
                    <div class="benefits-business-item-text">
                        sgID was built with privacy in mind, designed to enable users to stay
                        in control of their personal data. sgID employs end to end encryption,
                        and does not store any user data, including NRICs.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="benefits-business-item">
                    <img class="icon" src="/assets/images/fast.png">
                    <div class="benefits-business-item-title">Onboard in minutes.</div>
                    <div class="benefits-business-item-text">
                        Create an application in our developer portal in minutes. You can then
                        use the supplied credentials to start integrating the sgID button into
                        your app or website so users can sign in to your service right away.
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="benefits-business-item">
                    <img class="icon" src="/assets/images/compliant.png">
                    <div class="benefits-business-item-title">Be compliant with PDPA.</div>
                    <div class="benefits-business-item-text">
                        The PDPA requires businesses to be compliant with clauses by 1 September
                        2019, surrounding consent obligation, purpose limitation obligation, and
                        notification obligation, all of which are built into our solution, sgID.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="benefits-business-action-container">
        <div class="row">
            <div class="half-col">
                <div class="benefits-business-tagline">Onboard in minutes.</div>
                <div class="benefits-business-call-to-action">
                    <a href="https://form.gov.sg/5d7a0a6e28467500121f1f5e">
                        <div class="button">Request for access</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
