---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>
  <div class="post-content">
    {{ content }}
  </div>
  {% if page.api %}
  <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>
  <script src="{{ '/assets/js/bundle.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/playground.js' | relative_url }}"></script>
  {% endif %}
</div>